/* Paleta de colores */
:root {
    --background-color: #1a1c33;
    --highlight-color: #6ff6fe;
    --accent-color: #01eefe;
    --text-color: #ffffff;
    --dark-grey: #20242d;
    --light-grey: #3b3f4a;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

/*Botón inicio*/
.home-icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

.home-icon a {
    color: var(--highlight-color);
    font-size: 24px;
}

/* Estilo para el header fijo */
header {
    position: fixed; /* Mantiene el header fijo en la parte superior */
    top: 0;          /* Posición en la parte superior */
    left: 0;         /* Alineado al borde izquierdo */
    width: 100%;     /* Ancho completo del viewport */
    background-color: var(--dark-grey);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;   /* Asegura que el header esté sobre otros elementos */
}

/* Ajusta el margen superior del contenido para que no quede oculto detrás del header */
#content {
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 80px; /* Ajusta este valor según la altura de tu header */
}

/*Botón inicio*/
.home-button {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.home-button:hover {
    background-color: var(--highlight-color);
}

.header-content h1 {
    margin: 0;
    font-size: 32px;
    color: var(--text-color); /* Título en blanco */
}

.project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background-color: var(--light-grey);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.project-description {
    order: 1; /* Asegura que la descripción se muestre primero */
}

.project-image {
    order: 2; /* Asegura que la imagen se muestre después */
    margin-top: 20px; /* Añadir un margen superior para separar la imagen de la descripción */
}

.project-image img {
    width: 600px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.project-image img:hover {
    transform: scale(1.05);
}

.project-description {
    max-width: 600px;
}

.project-description h2 {
    font-size: 24px;
    color: var(--highlight-color);
    margin-bottom: 15px;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 10px;
}

.project-description p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.features {
    list-style-type: none;
    padding: 0;
}

.features li {
    margin-bottom: 10px;
    font-size: 16px;
}

.features li span {
    color: var(--accent-color);
    font-weight: bold;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--highlight-color);
    color: var(--background-color);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: var(--accent-color);
}

footer {
    background-color: var(--dark-grey);
    color: var(--text-color);
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}
